examples/Ads-beckhoff-devicemanager.json
[{"id":"b021493a8e4e2f47","type":"inject","z":"778c185d6fc6b248","name":"All","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":840,"wires":[["5168bde117e11042"]]},{"id":"c79ec0fb870c8b03","type":"inject","z":"778c185d6fc6b248","name":"module list","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"modules","x":420,"y":880,"wires":[["5168bde117e11042"]]},{"id":"fee91e5ef7e40fc7","type":"inject","z":"778c185d6fc6b248","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"General","x":420,"y":920,"wires":[["5168bde117e11042"]]},{"id":"8c6fbfa6a03fe19e","type":"inject","z":"778c185d6fc6b248","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"General.Device_Name","x":380,"y":960,"wires":[["5168bde117e11042"]]},{"id":"58389f6fb9e56f0b","type":"inject","z":"778c185d6fc6b248","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Nic.*.MAC_Adress","x":390,"y":1000,"wires":[["5168bde117e11042"]]},{"id":"3df36ded05ec8919","type":"debug","z":"778c185d6fc6b248","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":880,"wires":[]},{"id":"543922b20dcfa8ed","type":"inject","z":"778c185d6fc6b248","name":"Multiple","props":[{"p":"topic","v":"[\"General.Device_Name\",\"Time\",\"Nic.*.MAC_Adress\"]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":1040,"wires":[["5168bde117e11042"]]},{"id":"5168bde117e11042","type":"ads-beckhoff-devicemanager","z":"778c185d6fc6b248","name":"","topic":"","connection":"9dfd7e5eac608942","x":640,"y":880,"wires":[["3df36ded05ec8919"]]},{"id":"9dfd7e5eac608942","type":"ads-client-connection","name":"","targetAmsNetId":"localhost","targetAdsPort":"851","objectifyEnumerations":true,"convertDatesToJavascript":true,"readAndCacheSymbols":false,"readAndCacheDataTypes":false,"disableSymbolVersionMonitoring":false,"routerTcpPort":"","routerAddress":"","localAddress":"","localTcpPort":"","localAmsNetId":"","localAdsPort":"","timeoutDelay":"","hideConsoleWarnings":false,"autoReconnect":true,"reconnectInterval":"","checkStateInterval":"","connectionDownDelay":"","allowHalfOpen":false,"disableBigInt":false,"debuggingLevel":"","bareClient":false}]